
{% from 'modules/digitalocean/resource.tf.j2' import do_droplet %}
{######################################################################################################## do_provider #}

{% macro digitalocean(provider_spec, deployment_spec, do_ssh_key) %}


terraform {
  backend "local" { path = "tfstate/terraform.tfstate" }
}

terraform {
  required_providers {
    digitalocean = {
      source = "digitalocean/digitalocean"
      version = "~> 2.0"
    }
  }
}

provider "digitalocean" {
  token = "{{ provider_spec.token }}"
}


{% for droplet in provider_spec.resources.droplets %}

{{ do_droplet(droplet, deployment_spec, do_ssh_key) }}

{% endfor %}


{% endmacro %}
