{######################################################################################################### do_droplet #}

{% macro do_droplet(droplet_spec, deployment_spec, do_ssh_key) %}

resource "digitalocean_droplet" "{{ droplet_spec.name }}" {
    image     = "debian-11-x64"
    name      = "{{ deployment_spec.name }}-{{ deployment_spec.id }}-{{ droplet_spec.name }}-${count.index}"
    size      = "{{ droplet_spec.size }}"
    count     = {{ droplet_spec.count }}
    region    = "{{ droplet_spec.region }}"
    ssh_keys  = [
        "{{ do_ssh_key.data.ssh_key.id }}"
    ]
    user_data = data.cloudinit_config.{{ droplet_spec.name }}_config[count.index].rendered
}

{% if "volumes" in droplet_spec %}

{% endif %}

{# resource "local_file" "ansible_inventory" {
  content = templatefile("templates/client/ansible/inventory.ini.tftpl",
    {
      do_droplets = digitalocean_droplet.proxmox_cluster
      ssh_private_key = {{ "TO BE IMPLEMENTED" }}
    }
  )
  filename = var.ansible_inventory_out_path
} #}



{% endmacro %}

{###################################################################################################### do_cloud-init #}



{% macro cloud_init(droplet_spec, droplet_index) %}


data "cloudinit_config" "{{ droplet_spec.name }}_config" {

  count = {{ droplet_spec.count }}
  gzip          = false
  base64_encode = false

  part {
    content_type = "text/cloud-config"
    content = file("templates/server/cloud-init/default_user.yml.tftpl")
  }

  part {
    content_type = "text/cloud-config"
    content = templatefile("templates/server/cloud-init/ssh_keys.yml.tftpl",
      {
        private = tls_private_key.host_ed25519[count.index].private_key_pem
        public = tls_private_key.host_ed25519[count.index].public_key_openssh
        algorithm = lower(tls_private_key.host_ed25519[count.index].algorithm)
      }
    )
  }

}

{% endmacro %}

{########################################################################################################## do_volume #}


{% macro do_volume(deployment_spec, droplet_spec, droplet_index, volume_spec) %}


resource "digitalocean_volume" "{{ volume_spec.name }}" {
  region                  = "{{ droplet_spec.region }}"
  name                    = "{{ deployment_spec.name }}-{{ deployment_spec.id }}-{{ volume_spec.name }}"
  size                    = "{{ volume_spec.size }}"
  initial_filesystem_type = "{{ droplet_spec.fs }}"
}

resource "digitalocean_volume_attachment" "proxmox_cluster_store_mount" {
  droplet_id = digitalocean_droplet.{{ droplet_spec.name }}{{ droplet_index }}.id
  volume_id  = digitalocean_volume.{{ volume_spec.name }}.id
}


{% endmacro %}

