{% from 'modules/digitalocean/provider.tf.j2' import digitalocean %}


{% for provider in parsed_spec.providers %}
{% if provider.name == 'digitalocean' %}

{{ digitalocean(provider, deployment_spec, do_ssh_key) }}

{% endif %}
{% endfor %}